<link href="/css/bootstrap.css" rel="stylesheet"/>
<div class="container-fluid">
<h1>List of Users</h1>

<form action="/experiments/ejs/crud/user" method="post">
<ul class="list-group">
    <li class="list-group-item">
        <input name="username" value="<%= selectedUser.username %>"
               class="form-control"/>
        <input name="_id" value="<%= selectedUser._id %>" type="hidden"
               class="form-control"/>
        <button class="btn btn-block btn-primary" type="submit" name="action" value="create">
            Create
        </button>
        <button class="btn btn-block btn-primary" type="submit" name="action" value="update">
            Update
        </button>
    </li>
<%  for(var u in users) {
%>  <li class="list-group-item">
        <%= users[u].username %>
        <a href="/experiments/ejs/crud/user/<%= users[u]._id %>/select">
            <span class="glyphicon-cog glyphicon pull-right"></span>
        </a>
        <a href="/experiments/ejs/crud/user/<%= users[u]._id %>/delete">
            <span class="glyphicon-remove glyphicon pull-right"></span>
        </a>
    </li>
<%  }
%>
</ul>
</form>

</div>