<link href="/css/bootstrap.css" rel="stylesheet"/>
<div class="container-fluid">
<h1>List of Users</h1>

<form action="/lectures/undergraduate/ejs/crud/user" method="post">
<ul class="list-group">
    <li class="list-group-item">
        <input name="username"
               value="<%= selectedUser.username %>"
               class="form-control"/>
        <input name="_id"
               type="hidden"
               value="<%= selectedUser._id %>"
               class="form-control"/>
        <button name="action" value="create" type="submit"
                class="btn btn-block btn-primary">
            Create
        </button>
        <button name="action" value="update" type="submit"
                class="btn btn-block btn-success">
            Update
        </button>
    </li>
<%  for(var u in users) {
%>  <li class="list-group-item">
        <%= users[u].username %>
        <a href="/lectures/undergraduate/ejs/crud/user/<%= users[u]._id %>/select">
            <span class="glyphicon-cog glyphicon pull-right"></span>
        </a>
        <a href="/lectures/undergraduate/ejs/crud/user/<%= users[u]._id %>/delete">
            <span class="glyphicon-remove glyphicon pull-right"></span>
        </a>
    </li>
<%  }
%>
</ul>
</form>

</div>