<html ng-app="<%= name %>">
<head>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular/angular-route.min.js"></script>
    <script src="/wam/app.js"></script>
    <script src="/wam/config.js"></script>
<%  for(var entityName in entities) {
-%>
    <script src="/wam/<%= entityName %>/controllers/list/<%= entityName %>-list.controller.client.js"></script>
    <script src="/wam/<%= entityName %>/controllers/edit/<%= entityName %>-edit.controller.client.js"></script>
    <script src="/wam/<%= entityName %>/service/<%= entityName %>.service.client.js"></script>
<%  }
%>

</head>
<body>
    <div ng-view></div>
</body>
</html>