<br/>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <%= entityName %>
        </li>
        <li class="list-group-item">
            <%  for(var fieldName in fields) {
                    var field = fields[fieldName];
                    var placeholder = field.placeholder ? field.placeholder : "";
            %>
            <div>
                <label for="<%= fieldName %>"><%= field.label ? field.label : fieldName %></label>
<%                  if(!field.type || field.type==="text") {
%>
                <input id="<%= fieldName %>"
                       ng-model="model.<%= entityName %>.<%= fieldName %>"
                       placeholder="<%= placeholder %>"
                       class="form-control"/>
<%                  } else if(field.type === "date") {
%>              <input id="<%= fieldName %>"
                       ng-model="model.<%= entityName %>.<%= fieldName %>"
                       type="date"
                       class="form-control"/>
<%                  }
%>
            </div>
            <%  }
            %>
            <button ng-click="model.create<%=entityName%>(model.<%=entityName%>)" ng-if="model.<%=entityName%>Id === 'new'" class="btn btn-primary btn-block">Create</button>
            <button ng-click="model.update<%=entityName%>(model.<%=entityName%>)" ng-if="model.<%=entityName%>Id !== 'new'" class="btn btn-success btn-block">Update</button>
            <a href="#!/<%= entityName %>" class="btn btn-danger btn-block">Cancel</a>
        </li>
    </ul>
</div>