<br/>
<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <a href="#!/<%= entityName %>/new" class="pull-right" style="color: #fff;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <%= entityName%>s
        </li>
        <li ng-repeat="<%= entityName %> in model.<%= entityName%>s" class="list-group-item">
            <div class="row">
<%  for(var fieldName in fields) {
        var field = fields[fieldName];
%>              <div class="col-xs-<%= field.cols %>">
                    {{<%= entityName %>.<%= fieldName %> <%= field.type && field.type === "date" ? "| date:short" : ""%>}}
                </div>
<%  }
%>              <div class="col-xs-1">
                    <a class="pull-right" href="#!/<%= entityName %>/{{<%= entityName %>._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
            {{item}}
        </li>
    </ul>
    {{model.<%= entityName%>s}}
</div>
